/* Banner  */

#banner{
    background-color: red;
    background-image: url('../images/b-banner1\ test.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    /* background-size: cover; */
    
    width: 100%;
    height: 700px;
}

.b-text{
    display: flex;
    
}
.b-text h1{
    margin-top: 150px;
    /* -webkit-text-stroke: .5px black; */
    text-shadow: 2px 2px black;
    font-family: Brush Script MT;
    font-size: 150px;
    font-weight: bold;
    color: white;
}

/* Banner  */

/* Blog */

#blog{
    /* height: 400px; */
    /* background-color: white ; */
    
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 20px;
    padding: 20px 0;
    margin: 30px 0;
}

#blog > *{
    /* outline: 1px solid red; */
}
.para{
    background-color: #149911;
    flex-basis: 50%;
    /* border: 1px solid red; */
    border-radius: 20px;
    /* border-radius: 50%; */
    transition: .25s;
}

.para:hover{
    transform: scale(1.1);
    /* box-shadow: 2px 2px 10px 1px white; */
}

.para a{
    text-decoration: none;
}

.para h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.para p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
    padding: 0 20px;
}

.para .p-second{
    margin-bottom: 20px;
}

.img-us{
    flex-basis: 40%;
    border: 1px solid red;
    display: flex;
}

.img-us img{
  
}

/* Blog */

/* Featured Products */

.container{
    width: 95%;
}

#f-products{
    /* height: 500px; */
    background-color: #149911;
    border-radius: 20px ;
    margin: 30px 0;
    padding: 20px 0;
    

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid purple; */
}

#f-products > *{
    /* outline: 1px solid red; */
    
}

#f-products a{
    flex-basis: 100%;
    text-decoration: none;
}

#f-products h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* border: 1px solid red; */
}

.prod{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.prod > div{
    padding: 20px 0;
    /* outline: 1px solid purple; */
}

.prod a{
    text-decoration: none;
}

.prod img{
    border-radius: 20px;
}

.glow :hover{
    box-shadow: 2px 2px 10px 8px #F9E4E4;
}

.prod p{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    /* border: 1px solid red; */
    padding: 20px 0 0 0;
}

/* Featured Products */

/* About us */

#about-us{
    /* height: 500px; */
    background-color: #149911;
    /* background-color: white; */
    border-radius: 20px;
    margin: 50px 0;
    padding: 20px 0;
    
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
}

#about-us > *{
    /* outline: 1px solid red; */
}

.a-text{
    /* border: 1px solid red; */
    flex-basis: 50%;
    transition: .25s;
}


.a-text a{
    text-decoration: none;
}


.a-text h1{
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;

   
    /* border: 1px solid purple; */
    /* padding: 10px 0; */
}

.a-text p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

.a-img{
    
    /* border: 1px solid purple; */
    flex-basis: 30%;
    display: flex;
    
}

.a-img img{
    margin: 10px 0;
    border-radius: 10px;
}

/* About us */

/* Testimonials */

#testimonials{
    /* height: 500px; */
    background-color: #149911;
    border-radius: 20px;
    margin: 50px 0;
    /* padding: 20px 0; */
}

#testimonials a{
    text-decoration: none;
}

#testimonials h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#testimonials > div{
    /* outline: 1px solid red; */
}

.testo{
    display: flex;
}

.testo > div{
    /* outline: 1px solid yellow; */
    flex-basis: 100%;
    margin-bottom: 30px;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: white;
    border-radius: 20px;
    
    padding: 30px 0;
}

.testo1, .testo3{
    margin: auto 75px;
}

.testo > div > *{
    /* outline: 1px solid pink; */
}

.testo > div > img{
    box-shadow: 2px 2px 5px black;
}

.testo > div > blockquote {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 30px;
    text-align: center;
}

.testo > div > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    margin-top: 10px;
}  
/* Testimonials */

/* Footer  */

footer{
    border-top: 2px solid black;

    background-color: white;
    color: black;
    padding: 20px 20px 0 20px ;
}

.fr-logo{
    margin-bottom: 10px;
}

.foot-columns{
    display: flex;
}

.foot-columns > div{
    /* outline: 1px solid red; */
}

.column1{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    
}

.column1 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.column1 .icons{
    flex-basis: 100%;
    display: flex;
    margin: auto;
    
}

.icons a img{
    transition: .25s;
}

.icons a img:hover{
    transform: scale(1.1);
}

.icons>*{
    flex-basis: 100%;
    display: flex;
}

.column2{
    display: flex;
    flex-basis: 30%;
}

.column2 ul{
    list-style: none;
}

.column2 a{
    text-decoration: none;
}

.column2 li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px 0;
    text-align: center;
    transition: .25s;
}

.column2 li:hover{
    transform: scale(1.1);
}

.column3{
    flex-basis: 30%;
}

.column3 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    word-spacing: 6px;
}

.column3 .col3-mail{
    display: flex;
    justify-content: center;
    /* outline: 1px solid green; */
}

.col3-mail input[type=text]{
    margin: 20px 0;
    padding: 10px;
    width: 350px;

    outline: none;
    border-radius: 20px;
    border: 1px solid black;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.column3 .col3-sub{
    display: flex;
    justify-content: center;
}

.col3-sub button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    background-color: #e86434;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.last{
    padding: 8px 0;
    text-align: center;
}

/* Footer  */