*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* Navigation Bar */

    /* in CSS/nav-style-demo.css */

/* Navigation Bar */

/* Banner  */

#banner{
    /* border: 1px solid pink; */
    width: 100%;
    position: relative;
    background-color: rgb(106, 200, 106);
    height: 575px;
    
}

figure img{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper{
    width: 90%;
}

/* total Center
    .tc{
    display: grid;
    place-items: center;
    border: 1px solid red;
} */

/* About us */

#about-us{
    height: 300px;
    background-color: blueviolet;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
    
}

.para{
    /* border: 1px solid red; */
    float: left;
    width: 50%;
    height: 200px;
    margin: 30px 0;
}

.para h1 {
    font-size: 50px;
    font-family: Bahnschrift SemiBold;
    color: aqua;
    text-align: center;
}

.para p{
    font-size: 20px;
    font-family: Bahnschrift SemiBold;
    color: aqua;
    text-align: center;
}

.img-us{
    position: relative;
    /* border: 1px solid red; */
    float: right;
    width: 50%;
    height: 200px;
    margin: 30px 0;
}

.img-us img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Featured Products */

#f-products{
    height: 500px;
    background-color: yellow;
}