*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/* Navigation Bar */

    nav{
        /* border: 5px solid purple; */
        width: 100%;
        height: 75px;
        /* line-height: 75px; */
        padding: 0 40px;
        /* position: fixed; makes the div an overlay*/
        /* background-color: #a3a3a3; */
        background-color: rgb(0, 0, 0);
    }

    nav .h-logo{
        /* border: 2px solid blue; */
        float: left;
        padding-right: 0px;
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
    }

    nav .h-slogan{
        float: left;
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
        /* border: 2px red solid; */
    }

    nav .h-slogan p{
        /* border: 1px solid red; */
        padding-left: 20px;
        font-family: Bahnschrift SemiBold;
        font-size: 25px;
        color: white;
        /* text-transform: uppercase; */
        /* letter-spacing: 1.5px; */
        /* cursor: pointer; */
    }

    nav li{
        display: inline-block;
    }

    nav .navbar li a{
        /* border: 1px solid yellow; */
        margin: 0 10px 0 10px ;
        padding: 0 10px 0 10px;
        font-family: Bahnschrift SemiBold;
        font-size: 15px;
        /* text-transform: uppercase; */
        text-decoration: none;
        color: white;
    }

    nav .navbar li a:hover{
        border-bottom: 2px white solid;
        border-radius: 5px;
        transition: 0.2s;
    }

    /* Search Bar */

    nav .h-search{
        float: right;
        /* border: 2px red solid; */
        /* border-radius: 10px; */
        padding: 0 0px;
        margin: 0 50px;
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
    }
    input[type=text]{
        border-radius: 5px 0 0 5px;
        padding: 7px;
        border: none;
        font-size: 10px;
        font-family: Bahnschrift SemiBold;
    }

    button{
        float: right;
        background-color: orange;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position: relative;
        padding: 7px;
        font-family: Bahnschrift SemiBold;
        border: none;
        font-size: 10px;
    }

    /* Login and Cart section */
    
    nav .h-profile, nav .h-cart{
        margin: 0 10px;
        float: right;
        /* border: 2px red solid; */
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
    }

    nav .h-profile img, nav .h-cart img{
        color: white;
    }

/* Navigation Bar */

/* Banner  */

#banner{
    /* border: 1px solid pink; */
    width: 100%;
    position: relative;
    background-color: rgb(106, 200, 106);
    height: 575px;
    
}

figure img{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper{
    width: 90%;
}

/* total Center
    .tc{
    display: grid;
    place-items: center;
    border: 1px solid red;
} */

/* About us */

#about-us{
    height: 300px;
    background-color: blueviolet;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
    
}

.para{
    /* border: 1px solid red; */
    float: left;
    width: 50%;
    height: 200px;
    margin: 30px 0;
}

.para h1 {
    font-size: 50px;
    font-family: Bahnschrift SemiBold;
    color: aqua;
    text-align: center;
}

.para p{
    font-size: 20px;
    font-family: Bahnschrift SemiBold;
    color: aqua;
    text-align: center;
}

.img-us{
    position: relative;
    /* border: 1px solid red; */
    float: right;
    width: 50%;
    height: 200px;
    margin: 30px 0;
}

.img-us img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Featured Products */

#f-products{
    height: 500px;
    background-color: yellow;
}