*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.wrapper{
    width: 90%;
    /* border: 2px solid #6e008a;  */
}

.container{
    width: 95%;
}

/* total Center
    .tc{
    display: grid;
    place-items: center;
    border: 1px solid red;
} */

/* Navigation Bar */

    /* in CSS/nav-style-demo.css */

/* Navigation Bar */

/* Banner  */

#banner{
    /* border: 1px solid pink; */
    width: 100%;
    position: relative;
    background-color: #244F26;
    height: 575px;
    display: block;
}

figure img{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 100%;
    display: block;
    height: 575px; */
    
}

/* Banner  */

/* Blog */

#blog{
    height: 400px;
    background-color: #256D1B ;
    /* background-color: white; */
    display: grid;
    place-items: center;

    border-radius: 20px;
    margin: 30px 0;
    
    /* border: 1px solid red; */
}

.para{
    float: left;
    width: 50%;
    height: 200px;

    /* border: 1px solid red; */
    margin: 30px 0;
}

.para a{
    text-decoration: none;
}

.para h1 {
    font-size: 50px;
    font-family: Bahnschrift SemiBold;
    color: black;
    text-align: center;
}

.para p{
    font-size: 20px;
    font-family: Bahnschrift SemiBold;
    color: black;
    text-align: center;
}

.img-us{
    position: relative;
    /* border: 1px solid red; */
    float: right;
    width: 50%;
    height: 200px;
    margin: 30px 0;
}

.img-us img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Blog */

/* Featured Products */

#f-products{
    height: 500px;
    background-color: #149911;
    border-radius: 20px ;
    margin: 30px 0;

    /* border: 1px solid purple; */
}

#f-products a{
    text-decoration: none;
}

#f-products h1{
    font-size: 50px;
    font-family: Bahnschrift SemiBold;
    color: white;

    padding: 25px 0 10px 0;
    /* border: 1px solid red; */
}

.prod{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.prod > div{
    padding: 20px 20px;
    /* border: 1px solid purple; */
}

.prod > div > a{
    text-decoration: none;
}

.prod > div > a > img{
    border-radius: 20px;
}

.prod > div > a > p{
    text-align: center;
    font-size: 18px;
    font-family: Bahnschrift SemiBold;
    color: white;

    /* border: 1px solid red; */
    padding: 20px 0 0 0;
}

/* Featured Products */

/* About us */

#about-us{
    height: 500px;
    background-color: #1EFC1E;
    /* background-color: white; */
    border-radius: 20px ;
    margin: 30px 0;

    /* border: 1px solid red; */

    display: grid;
    place-items: center;
}

.a-text{
    float: right;
    /* border: 1px solid red; */
    width: 50%;
    height: 400px;

    position: relative;
}

.a-text a{
    text-decoration: none;
}

.a-text-center{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    /* border: 1px solid saddlebrown; */
}

.a-text h1{
    font-size: 50px;
    font-family: Bahnschrift SemiBold;
    color: #244F26;
    text-align: center;

   
    /* border: 1px solid purple; */
    padding: 20px;
}

.a-text p{
    font-size: 20px;
    font-family: Bahnschrift SemiBold;
    color: #244F26;
    text-align: center;
}

.a-img{
    float: left;
    /* border: 1px solid purple; */
    width: 50%;
    height: 400px;
}

.a-img img{
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* About us */

/* Footer */
footer{
    height: 400px;
    background-color: #424342;

}
/* Footer */