*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box; 
}
.container{
    display: flex;
}
.left{
    flex-basis: 20%;
    padding-left: 20px;
    height: 100%;
    background-color: bisque;
    font-size: 120%;
}

.right{
    flex-basis: 80%;
    background-color: cyan;
}
img{
    padding-right: 0px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
}
.name{
    text-align: center;
}
.About{
    padding-left: 200px;
    padding-right: 150px;
    font-size: 130%;
}